<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>配置</title>
<meta name="viewport" content="width=device-width">
<meta http-equiv="Access-Control-Allow-Origin" content="*">
<style>
.now-config {
    background: #eee;
    border: solid 1px #aaa;
    padding: 15px;
    white-space: pre-wrap;
    word-wrap: break-word;
}
#config-input {
    width: 400px;
    height: 200px;
    display: block;
    margin-bottom: 5px;
}
</style>
</head>
<body>
<span id='notice'>{{result}}</span>
<p>更新配置:</p>
<form  method="post" action="/config">
    <textarea name='data' id="config-input" placeholder="在此填入json配置"></textarea>
    <input type="submit" value="提交" />
</form>
<br/>
<p>当前配置:</p>
<pre class='now-config'>
{{show}}
</pre>
</body>
</html>