<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>统计</title>
<meta name="viewport" content="width=device-width">
<meta http-equiv="Access-Control-Allow-Origin" content="*">
<style>
.now-config {
    background: #eee;
    border: solid 1px #aaa;
    padding: 15px;
    white-space: pre-wrap;
    word-wrap: break-word;
}
#config-input {
    width: 400px;
    height: 200px;
    display: block;
    margin-bottom: 5px;
}
</style>
</head>
<body>
<pre class='now-config'>
{{data}}
</pre>
</body>
</html>
